div.heading {
  background-color: #e5e5e7;
  padding: 3pt;
  margin-bottom: 3pt;
}

div.heading h1 {
  color: #04368b;
}

div.heading h2 {
  color:  #04368b;
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;
  margin-left: 12pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
}

div.Popup-Heading {
  background-color: white;
  padding: 3pt;
  margin-bottom: 3pt;
}

div.Popup-Heading h1 {
  color: #255195;
}

h1 {
  font-family: Arial, Roman, Roman;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  font-style: normal;
  margin-left: 12pt;
  margin-bottom: 3pt;
}

h4 {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3pt;
}

div.topics {
  background-color:  #e5e5e7;
  padding: 3pt;
  margin-bottom: 3pt;
  margin-top: 3pt;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1pt;
}

div.topics h4 {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3pt;
  margin-top: 0pt;
}

div.copyright {
  background-color: #e5e5e7;
  padding: 3pt;
  margin-bottom: 3pt;
  margin-top: 3pt;
}

div.copyright table tr td {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.logo {
  margin-top: 25pt;
  margin-bottom: 25pt;
}

body {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
  background-color: white;
}

p {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
  margin-top: 7pt;
  margin-bottom: 7pt;
}

a {
  color: #255195;
}

a.inactive {
  color: #ac1514;
}

a img {
  border-width: 0px;
}

div.admon-note {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 9pt;
  padding: 3pt;
  border-style: solid;
}

div.admon-note table tr th{
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.admon-note table tr th, div.admon-note table tr td{
  background-color: #FFFFFF;
  border-width: 0px;
}

div.admon-note table tr th p, div.admon-note table tr td p {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.admon-important {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 9pt;
  padding: 3pt;
  border-style: solid;
}

div.admon-important table tr th{
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.admon-important table tr th, div.admon-important table tr td{
  background-color: #FFFFFF;
  border-width: 0px;
}

div.admon-important table tr th p, div.admon-important table tr td p {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.admon-warning {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 9pt;
  padding: 3pt;
  border-style: solid;
}

div.admon-warning table tr th{
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.admon-warning table tr th, div.admon-warning table tr td{
  background-color: #FFFFFF;
  border-width: 0px;
}

div.admon-warning table tr th p, div.admon-warning table tr td p {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.admon-caution {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 9pt;
  padding: 3pt;
  border-style: solid;
}

div.admon-caution table tr th{
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.admon-caution table tr th, div.admon-caution table tr td{
  background-color: #FFFFFF;
  border-width: 0px;
}

div.admon-caution table tr th p, div.admon-caution table tr td p {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.admon-tip {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 9pt;
  padding: 3pt;
  border-style: solid;
}

div.admon-tip table tr th{
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.admon-tip table tr th, div.admon-tip table tr td{
  background-color: #FFFFFF;
  border-width: 0px;
}

div.admon-tip table tr th p, div.admon-tip table tr td p {
  font-family: Arial, Roman, Roman;
  font-size: 10pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.verbatim-screen {
  background-color: #FFFFFF;
  border-color: #000000;
  border-width: 1pt;
  padding: 3pt;
  border-style: solid;
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

div.verbatim-programlisting {
  background-color: #FFFFFF;
  border-color: #000000;
  border-width: 1pt;
  padding: 3pt;
  border-style: solid;
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

div.verbatim-literallayout {
  background-color: #FFFFFF;
  border-color: #000000;
  border-width: 1pt;
  padding: 3pt;
  border-style: solid;
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

ol li {
  margin-bottom: 1pt;
}

ul li {
  margin-bottom: 0px;
}

div.caption {
  font-family: Arial, Roman, Roman;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.caption p {
  font-family: Arial, Roman, Roman;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  font-style: normal;
}

div.table-standard td {
  border-top-color: #848284;
  border-left-color: #848284;
  border-bottom-color: #D6D3CE;
  border-right-color: #D6D3CE;  
  border-width: 1pt;
  border-style: solid;
}

div.table-standard th {
  border-top-color: #848284;
  border-left-color: #848284;
  border-bottom-color: #D6D3CE;
  border-right-color: #D6D3CE;  
  border-width: 1pt;
  border-style: solid;
}

div.table-standard tf {
  border-top-color: #848284;
  border-left-color: #848284;
  border-bottom-color: #D6D3CE;
  border-right-color: #D6D3CE;  
  border-width: 1pt;
  border-style: solid;
}

div.table-standard table {
  border-top-color: #D6D3CE;
  border-left-color: #D6D3CE;
  border-bottom-color: #848284;
  border-right-color: #848284;  
  border-width: 1pt;
  border-style: solid;
  width: 100%;
}

div.table-color th {
  font-family: Arial, Times New Roman, Roman;
  font-size: 8pt;
  color: #FFFFFF;
  font-weight: bold;
  font-style: normal;
  background-color: #cad6dc;
  border-color: white;
  border-width: 1pt;
  border-style: solid;
}

div.table-color th p {
  font-family: Arial, Times New Roman, Roman;
  font-size: 8pt;
  color: #FFFFFF;
  font-weight: bold;
  font-style: normal;
}

div.table-color td {
  font-family: Arial, Times New Roman, Roman;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  font-style: normal;
  background-color: #e3edeb;
  border-color: white;
  border-width: 1pt;
  border-style: solid;
}

div.table-color td p {
  font-family: Arial, Times New Roman, Roman;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.table-color tf {
  font-family: Arial, Times New Roman, Roman;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  font-style: normal;
  background-color: #b2e5e5;
  border-color: white;
  border-width: 1pt;
  border-style: solid;
}

div.table-color tf p {
  font-family: Arial, Times New Roman, Roman;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  font-style: normal;
}

div.table-color table {
width: 100%;
}

div.table-plain th {
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  background-color: #FFFFFF;
  border-color: black;
  border-width: 0.5pt;
  border-style: solid;
}

div.table-plain th p {
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

div.table-plain td {
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  background-color: #FFFFFF;
  border-color: #000000;
  border-width: 1pt;
  border-style: solid;
}

div.table-plain td p {
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

div.table-plain tf {
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  background-color: #FFFFFF;
  border-color: #000000;
  border-width: 1pt;
  border-style: solid;
}

div.table-plain tf p {
  font-family: Roman, Roman, Roman;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

div.table-plain table {
width: 100%;
}

