.root {    
    -fx-base: #d3d3d3;
    -fx-font-size: 1em;
    -icons-color: gray;
    -fx-padding:0px;
    -fx-background-color: transparent;
    -fx-accent: rgb(4,85,142);
}

.boxSpacing{
    -fx-padding: 10 10 10 10;
}

.progress-indicator {
    -fx-progress-color: rgb(4,85,142);
}

.header-pane{
    -fx-background-color: 
        linear-gradient(
        rgb(233,233,233) 0%,
        rgb(200,200,200) 80%,
        rgb(177,177,177) 100%);
    -fx-effect: dropshadow( gaussian , rgb(50,50,50) , 10 ,0.5 , 0 , 0 );
}

.header-decoration-gradient{
    -fx-background-color: 
        linear-gradient(
        to bottom right,
        rgb(4,85,142) 0%,
        rgba(255,255,255,0.0) 30%);
}


.app-title{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(86, 95,100);
}

.page-title{
    -fx-font-size: 32px;
    -fx-text-fill: rgb(86, 95,100);
}

.setting-title{
    -fx-font-size: 24px;
    -fx-text-fill: rgb(86, 95,100);
}

.setting-pane{
    -fx-background-color: linear-gradient(
        rgba(230,230,230,0.7) 0%,
        rgba(240,240,240,0.7) 70%,
        rgba(220,220,220,0.7) 100%);
}

.tab {
    -fx-text-fill: #333333;
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-border-width: 0;
}

.tab:selected {
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
    -fx-background-color: rgba(230,230,230,0.7);
    -fx-border-color: null;
    -fx-border-width: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.key-label{
    -fx-font-weight: bold;
}

.value-label{
    -fx-font-weight: bold;
}

.server-pane{
    -fx-background-color: linear-gradient(
        rgb(233,233,233) 0%,
        rgb(200,200,200) 80%,
        rgb(177,177,177) 100%);
    -fx-effect: dropshadow( gaussian , rgb(50,50,50) , 10 ,0.5 , -5 , 0 );
}

.server-name-label{
    -fx-font-size: 1.2em;
    -fx-text-fill: rgb(86, 95,100);
}

.server-jdk-version-label{
    -fx-font-size: 0.8em;
}

.domain-name-label{
    -fx-font-size: 2em;
    -fx-text-fill: rgb(86, 95,100);
}

.domain-status-message-label{
    -fx-font-weight: bold;
}

.domain-uptime-label{
    -fx-font-size: 0.8em;
}

.domain-control-button-pane{
    -fx-background-color: rgba(140,140,140,0.2);
}

.domain-page{
    -fx-background-image: url("../images/adm4ee_bg2.png");
    -fx-background-position: center center; 
    -fx-background-repeat: stretch; 
    -fx-background-size: stretch; 
}

.navigation-button{
    -fx-font-size: 0.8em;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 0px;
    -icons-color: -fx-accent;
    -fx-text-fill: -fx-accent;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 3, 0.0 , 0 , 2 );
}

.navigation-button:pressed:hover{
    -icons-color: -fx-accent;
    -fx-text-fill: -fx-accent;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.navigation-button:hover{
    -icons-color: -fx-accent;
    -fx-text-fill: -fx-accent;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.navigation-pane{
    -fx-background-color: #e9e9e9;
    -fx-effect: dropshadow( three-pass-box , gray , 5 ,0.0 , 0 , 0 );
}

.pagination {
    -fx-border-width: 0px;
    -fx-page-information-visible: false;
    -fx-arrows-visible: false;
    -fx-padding: 0px;
}

.pagination .page {
    -fx-background-color: #DDF1F8;
}

.pagination .pagination-control {
    /*-fx-background-color: #ffffff;   */ 
}

.pagination .pagination-control .bullet-button {
    /*-fx-background-color: transparent, white, lightcyan, lightcyan, lightgray;*/
    -fx-background-color: transparent, transparent, lightcyan, cyan, lightgray;
}

.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: transparent, rgb(53,179,172), transparent, transparent, transparent;
}



.dashboard-tile{
    -fx-background-color: linear-gradient(
        rgba(255,255,255,0.7) 0%,
        rgba(240,240,240,0.7) 80%,
        rgba(220,220,220,0.7) 100%);
    -fx-effect: dropshadow( gaussian , rgb(50,50,50) , 20 ,0.0 , 0 , 0 );
}

.awesome{
    -fx-font-family:  FontAwesome;
    -fx-text-fill: linear-gradient(
        -icons-color 0%,
        derive(-icons-color, -10%) 100%);
}

.modal-dialog-pane{
    -fx-background-color: linear-gradient(
        rgb(233,233,233) 0%,
        rgb(200,200,200) 80%,
        rgb(177,177,177) 100%);
    -fx-effect: dropshadow( gaussian , rgb(20,20,20) , 20 ,0.0 , 0 , 0 );
}

.modal-dialog-color-glass-pane{
    -fx-background-color: rgba(40,40,40, 0.5);
}

.logviewer-textarea{
    -fx-text-fill: white;
    -fx-background-color: black;
}

.default-domain{
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.ping-result-label-plain{
    -fx-font-weight: bold;
    -fx-text-fill: darkgray; 
}
.ping-result-label-success{
    -fx-font-weight: bold;
    -fx-text-fill: seagreen; 
}
.ping-result-label-failed{
    -fx-font-weight: bold;
    -fx-text-fill: orangered; 
}


.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}



.application-name-label {
    -fx-font-size: 1.5em;
    -fx-text-fill: rgb(86, 95,100);
}

.application-version-label {
    -fx-font-size: 0.7em;
}

.application-status-label {
    -fx-font-size: 0.7em;
}

.app-list{
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.app-list-cell {
    -fx-background-color: linear-gradient(
        rgba(255,255,255,0.7) 0%,
        rgba(240,240,240,0.7) 80%,
        rgba(220,220,220,0.7) 100%);
}

.app-list .list-cell {
    -fx-background-color: transparent;
}

.app-list .list-cell:odd {
    -fx-background-color: transparent;
}

